.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    z-index: 1;
    /* box-shadow: 0 0.5rem 2rem black; */
}
.main-nav .logo{
    display: flex;
    margin-left: 2rem;
}
.main-nav .logo h2{
        text-transform: capitalize;
        font-size: 1.5rem;
        background: -webkit-linear-gradient(#eee,  rgb(45, 0, 104));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    
}
.main-nav .logo span{
    font-size: 2rem;

}
.menu-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.menu-item-li{
    font-size: 1.5rem;
    margin: 0 1rem ;
}
.menu-item{
    color: rgb(45, 0, 104,0.7);
    
    
}
.menu-item:hover{
    color: rgb(45, 0, 104);
    text-decoration: underline;
}
.active{
    color: rgb(45, 0, 104);
    text-decoration: underline;
    
}
.log-reg{
    margin:0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.log-reg-li{
    margin:0 0.1rem;
}
.log{
    color: rgb(45, 0, 104);
    font-size: 3rem;
    /* width: 5rem;
    height: 5rem; */
}
.reg{
    color: rgb(45, 0, 104);
    /* width: 5rem;
    height: 5rem; */
}
@media (max-width:546px){
    /* .menu-item{
        display:none;
    } */
    .menu-link{
        display: none;
    }
    .log-reg{
        display: none;
    }
}
.menu-icon{
    display:none;
}
.menu-icon button{
    border: none;
}
.hamburger{
    color: rgb(45, 0, 104);
}
.mob-menu-link{
    background-color: white;
    /* border: 2px solid red; */
    position: fixed;
    top: 7.5%;
    right: 2%;
    margin-left: 1%;
    width: 96%;
    text-align: left;
    box-shadow: 0rem 0.5rem 3rem rgb(45, 0, 104);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
@media (max-width:546px){
    .menu-icon{
        display: block;
        margin-right: 2rem;
    }
   .menu-item-li{
       padding:5% auto;
       border-bottom: 1px solid rgba(49, 46, 46, 0.5);
       width: 90%;
   }
   
}